@model Lumen_Merch_Store.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Профіль";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Ваш профіль</h2>
            </div>
            <div class="card-body">
                <div class="text-center mb-4">
                    @if (!string.IsNullOrEmpty(Model.PhotoUrl))
                    {
                        <img src="@Model.PhotoUrl" class="rounded-circle" alt="Фото профілю" style="width: 100px; height: 100px; object-fit: cover;">
                    }
                    else
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 100px; height: 100px;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                    }
                </div>
                
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>
                    
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Phone)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Phone)</dd>
                    
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
                    <dd class="col-sm-8">@Model.CreatedAt.ToShortDateString()</dd>
                </dl>
                
                <hr/>
                
                <form asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-danger w-100">Вийти</button>
                </form>
            </div>
        </div>
    </div>
</div>