@model IEnumerable<Lumen_Merch_Store.Areas.Admin.ViewModels.UniverseViewModel>

@{
    ViewData["Title"] = "Управління Всесвітами";
    Layout = "~/Areas/Admin/Views/_Shared/_AdminLayout.cshtml";
}

<div class="text-right mb-4">
    <a asp-action="Create" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline mr-1" viewBox="0 0 20 20" fill="currentColor"
             style="width: 1rem; height: 1rem; vertical-align: middle;">
            <path fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                  clip-rule="evenodd"/>
        </svg>
        Створити Новий Всесвіт
    </a>
</div>

<div class="admin-main-content">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Назва (УКР)</th>
            <th>Опис (УКР)</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameUk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionUk)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" style="color: #4F46E5;">Деталі</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" style="color: #FACC15;">Редагувати</a> |
                    <form asp-action="Delete" method="post">
                        <button type="submit" name="id" value="@item.Id">
                            видалити
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>